<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.warrails" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>War-Rails</name>
    <description>
        War-Rails native app for training..
    </description>
    <author email="danieleiacomini96@gmail.com" href="https://github.com/DanieleIacomini/War-Rails">
        Daniele Iacomini
    </author>
    <icon src="icon2.png" />
    <content src="index.html" />
    